h1 {
  font-size: 60px;
  color: mediumvioletred;
  font-family: Arial;

}

h2 {
  color: orchid;
  font-size: 40px;
  font-family: serif;
}

p {

  color: navy;
  font-family: Helvetica;
  font-size: 30px
}

ul li {
  font-size: 30px;
  font-family: Arial;
}


h3 {
  font-size: 40px;
}


h4{
  font-size: 40px;
}



p3{
  font-size: 30px
}


img {
   
}
